<div class="leaderboard-container">
  <mat-card>
    <h2>Top 10 Helyezés</h2>

    <div class="top-three" *ngIf="leaderboard$ | async as leaderboard">
      <div 
        *ngFor="let entry of leaderboard.slice(0,3); let i = index" 
        class="leaderboard-item top" 
        [ngClass]="{
          'first-place': i === 0,
          'second-place': i === 1,
          'third-place': i === 2
        }"
      >
      <div class="award">
        <img *ngIf="i === 0" src="/images/1st-prize.png" alt="1st">
        <img *ngIf="i === 1" src="/images/2nd-prize.png" alt="2nd">
        <img *ngIf="i === 2" src="/images/3rd-prize.png" alt="3rd">
      </div>

      <div class="profile">
        <span class="name">{{ entry.email }}</span>
      </div>

        <div class="points">
          {{ entry.reactionTime }} ms
        </div>

        <div class="level">Level {{ calculateLevel(entry.points ?? 0) }}</div>

        <div class="date">
          {{ entry.timestamp | readableDate }}
        </div>
        
        
      </div>

      <!-- A többiek -->
      <div 
        *ngFor="let entry of leaderboard.slice(3); let i = index" 
        class="leaderboard-item normal"
      >

      <div class="award">
        {{ i + 4 }}.
      </div>

      <div class="profile">
        <span class="name">{{ entry.email }}</span>
      </div>

        <div class="points">
          {{ entry.reactionTime }} ms
        </div>

        <div class="level">
          Level: {{ calculateLevel(entry.points || 0) }}
        </div>

        <div class="date">
          {{ entry.timestamp | readableDate }}
        </div>
      </div>
    </div>
  </mat-card>
</div>
