<div class="leaderboard-container">
  <mat-card>
    <h2>Leaderboard</h2>

    <ng-container *ngIf="leaderboard$ | async as leaderboard">
      <table mat-table [dataSource]="leaderboard" class="mat-elevation-z8">

        <!-- Helyezés oszlop -->
        <ng-container matColumnDef="position">
         <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Award Icon Column -->
      <ng-container matColumnDef="award">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <img *ngIf="i === 0" src="/images/1st-prize.png" alt="1st" class="award-icon" />
          <img *ngIf="i === 1" src="/images/2nd-prize.png" alt="2nd" class="award-icon" />
          <img *ngIf="i === 2" src="/images/3rd-prize.png" alt="3rd" class="award-icon" />
        </td>        
      </ng-container>

        <!-- Email oszlop -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Reakcióidő oszlop -->
        <ng-container matColumnDef="reactionTime">
          <th mat-header-cell *matHeaderCellDef>Reakcióidő (ms)</th>
          <td mat-cell *matCellDef="let element">{{ element.reactionTime }}</td>
        </ng-container>

        <!-- Dátum oszlop -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>Dátum</th>
          <td mat-cell *matCellDef="let element">{{ element.timestamp | readableDate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </ng-container>

  </mat-card>
</div>
