<div
  class="game-container"
  [ngClass]="{
    'ready': signalShown,
    'waiting': waitingForSignal,
    'ended': gameEnded
  }"
  (click)="handleClick()"
>
  <div class="game-content">
    <ng-container *ngIf="!gameStarted && !gameEnded">
      <p>Készülj fel a játékra! Kattints a kezdéshez!</p>
    </ng-container>

    <ng-container *ngIf="waitingForSignal && !gameEnded">
      <p>{{ message }}</p>
    </ng-container>

    <ng-container *ngIf="signalShown && !gameEnded">
      <p>Kattints most!</p>
    </ng-container>

    <ng-container *ngIf="gameEnded">
      <p>{{ result }}</p>
      <p>Kattints az újraindításhoz!</p>

      <div *ngIf="pointsEarned > 0" class="score-display">
        +{{ displayedPoints }} pont
      </div>

      Összes pontod: {{ animatedTotalPoints }}
      <div *ngIf="showLevelUp" class="level-up-banner">
        🎉 Szintlépés! Level {{ newLevel }}
      </div>

      <div class="progress-wrapper">
        <div class="level-text left">
          Szint {{ currentLevel }} <br> ({{ calculateTotalPointsForLevel(currentLevel) }} pont)
        </div>
        <div class="progress-container">
          <div class="progress-bar" [style.width.%]="progressPercent"></div>
        </div>
        <div class="level-text right">
          Szint {{ currentLevel + 1 }} <br> ({{ calculateTotalPointsForLevel(currentLevel + 1) }} pont)
        </div>        
      </div>
    </ng-container>
  </div>
</div>
