<mat-toolbar color="primary" class="navbar">
    <div class="logo">
      Reflex Teszt
    </div>
  
    <nav class="nav-links">
      <a mat-button routerLink="/game">Játék</a>
      <a mat-button routerLink="/leaderboard">Ranglista</a>
      <a mat-button routerLink="/register">Regisztráció</a>
      <a mat-button routerLink="/login">Bejelentkezés</a>
    </nav>
  
    <span class="spacer"></span>
  
    <div class="user-info" *ngIf="currentUserEmail">
      <span class="user-email">{{ currentUserEmail }}</span>
      <button mat-raised-button color="accent" (click)="logout()">Kijelentkezés</button>
    </div>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
  