@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    #e0e8ff,
    #b0baff,
    #f5ccff,
    #ffb3d9,
    #b3ffd9,
    #e0e8ff
  );
  background-size: 400% 400%;
  animation: gradientFlow 12s ease infinite;
  font-family: 'Roboto', sans-serif;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


mat-toolbar.navbar {
    display: flex;
    align-items: center;
    padding: 0 24px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .navbar-links {
    display: flex;
    gap: 16px;
  
    a {
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      transition: background-color 0.3s, color 0.3s;
      text-decoration: none;
    }
  
    a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  
    .active-link {
      border-bottom: 2px solid #faf0ca;
      color:#0d3b66;
    }
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
  
    strong {
      color: #faf0ca;
    }
  
    button {
        color: #0d5b66;
        border-radius: 10px;
      background-color: white;
      transition: background-color 0.5s, color 0.5s;
    }
  
    button:hover {
      background-color:#0d3b66;
      color: #0d3b66;
    }
  }
  
  span {
    color: black;
  }

  .auth-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }  